/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2019, 12:36:47
    Author     : alumno
*/

* {
    background-color: darkgrey;
}

img {
    height: 125px;
    width: 150px;
}

header {
    font-family: "Courier New";
    text-align: center;
}

li {
    display: inline;
    padding: 10px 5px;
}


nav:hover {
    background-color: turquoise;
}

li:hover{
    background-color: bisque;
    text-transform: uppercase;
}


footer{
    text-align: center;
    border-top: 1px solid black;
    background-color: blue; 
}

