<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Gestión Usuarios</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"> <a routerLink="/">Inicio</a></li>
                            <li><a routerLink="/registration">Register</a></li>
                            <li><a routerLink="/list">Users list</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
            <app-messages></app-messages>
        </div>
    </div>
</body>