<div class="container">
    <div>
        <h2>User details</h2>
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input class="form-control" [disabled]="!modUser" [(ngModel)]="user.email" type="email" name="mail" id="mail" placeholder="EMAIL" />
    </div>
    <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" [disabled]="!modUser" [(ngModel)]="user.password" type="password" name="password" id="password" placeholder="PASSWORD" />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" [disabled]="!modUser" [(ngModel)]="user.name" type="text" name="name" id="name" placeholder="NAME" />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
        <input class="form-control" [disabled]="!modUser" [(ngModel)]="user.age" type="text" name="age" id="age" placeholder="AGE" />
    </div>
</div>